Options -Indexes +ExecCGI
AddHandler cgi-script .pl
DirectoryIndex awstats.pl

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.buywl.itemnoob.com$ [NC]
RewriteRule ^(.*)$ http://buywl.itemnoob.com/awstats/$1 [R=301,L]
